.header{
  padding: 20px 0;
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    font-size: 32px;
    color: #ffffff;
  }
  &__search{
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
}