.password-generator{
  &__title{
    color: $colorWhite;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle{
    font-size: 20px;
    text-align: center;
    color: $colorWhite;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
  }
  &__input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: $colorRed;
    &--empty{
      box-shadow: 0 0 0 2px $colorRed;
    }
  }
  &__btn{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
    &--generate{
      background-color: $colorBg;
      border: 1px solid #d1d1d1;
      color: $colorWhite;
      font-size: 16px;
      &:hover{
        opacity: 0.8;
      }
    }
    &--copy{
      background-color: $colorGreen;
      color: $colorWhite;
      font-size: 16px;
      &:hover{
        opacity: 0.8;
      }
    }
    &:not(:last-child){
      margin-bottom: 10px;
    }

  }
}