*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $coloBGstart;
  font-family: 'Roboto',sans-serif;
}

.container h2{
  background-color: $colorBlack;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 10px;
  color: $colorWhite;
  font-size: 32px;
}
.btn{
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s linear;
  background-color: transparent;
}
.btn:hover{
  background-color: $colorBlack;
  color: $colorWhite;
  cursor: pointer;
}

.color{
  color: $colorBlue;
}